#potato{
    font-weight: 500;
}

.formGroup{
    padding-top: 10px;
    padding-bottom: 10px;
}

.alertOne{
    line-height: auto;
    font-size: 15px;
    color: palevioletred;
 
}

input[type=text] {
    padding: 10px;
    width: 90%;
    max-width: 700px;
    margin: auto;
    border: 2px solid rgb(59, 124, 124);
  }

#subject{
    padding: 10px;
    width: 90%;
    max-width: 700px;
    margin: auto;
    border: 2px solid rgb(59, 124, 124);
    text-align: center;
}

#label{
    text-align: right;
}

#messageBox{
    padding: 10px;
    width: 90%;
    max-width: 800px;
    height: 150px;
    margin: auto;
    border: 2px solid rgb(59, 124, 124);
    text-align: center;
}

#submitButton{
    padding: 10px;
    width: 90%;
    max-width: 800px;
    background-color: slategray;
    border: 2px solid rgb(255, 255, 255);
}

#submitButton:hover{
    background-color: orange;
}





