body {
  background-image: linear-gradient(to right, #004050, #4F0821);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
  color: white;
  font-size: 4.5rem !important;
  text-align: center;
}

h2 {
  color: white;
}

h3 {
  color: white;
}

h4 {
  color: white;
}

h5 {
  color: white;
}

label {
  color: white;
}

p {
  color: white;
}

.card-text {
  color: black;
}

#dropped-box {
  margin-top: 1em;
  display: flex;
  justify-content: center;
  background-color: rgba(0, 0, 0, .1);
  border: solid rgba(0, 0, 0, .15);
  border-width: 1px 0;
  border-radius: 1em;
  box-shadow: inset 0 0.5em 1.5em rgb(0 0 0 / 20%), inset 0 0.125em 0.5em rgb(0 0 0 / 25%);
  width: 87%;
  padding: 1vw;
}

/* Navbar start */

.navbar-items {
  background: linear-gradient(to right, #10809C, #004050);
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
}

.navbar-title {
  color: white;
  font-size: 3rem;
  justify-self: start;
  margin-left: 4vw;
  cursor: pointer;
}

.nav-links {
  color: white;
  padding: 0.5rem 1rem;
}

.nav-links:hover {
  color: white;
  background-color: #9C8F08;
  border-radius: 5px;
  transition: all 0.2s ease-out;
}

.fa-bars {
  color: white;
}

.menu-icon {
  display: none;
}

.nav-menu {
  display: grid;
  grid-template-columns: repeat(10, auto);
  grid-gap: auto;
  list-style: none;
  text-align: center;
  width: 90vw;
  justify-content: end;
  margin-right: 1rem;
}

@media screen and (max-width: 1635px) {
  .NavbarItems {
    position: relative;
  }
  .nav-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 600px;
    position: absolute;
    top: 80px;
    left: -100%;
    opacity: 1;
    transition: all 0.5s ease;
  }
  .nav-menu.active {
    background: #4F0821;
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
  }
  .nav-links {
    text-align: center;
    padding: 1rem;
    width: 100%;
    display: table;
  }
  .nav-links:hover {
    background-color: #9C8F08;
    border-radius: 0;
  }
  .navbar-title {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(20%, 10%);
  }
  .menu-icon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-200%, 50%);
    font-size: 1.8rem;
    cursor: pointer;
  }
  .fa-times {
    color: white;
    font-size: 2rem;
  }
}

/* Navbar end */

/* Carousel start */

/* .d-block {
  width: 100%;
  height: 100%;
}

.carousel-item.active {
  width: 100%;
  height: 100%;
  margin-right: -100%;
} */

/* Carousel end */

/* Listings start */

img {
  width: 16vw;
  height: 24vw;
  border-radius: 20px 20px 20px 20px;
}

*/ #img-grid {
  margin-top: 1em;
  display: flex;
  justify-content: center;
  background-color: rgba(0, 0, 0, .1);
  border: solid rgba(0, 0, 0, .15);
  border-width: 1px 0;
  border-radius: 1em;
  box-shadow: inset 0 0.5em 1.5em rgb(0 0 0 / 20%), inset 0 0.125em 0.5em rgb(0 0 0 / 25%);
  width: 87%;
  padding: 1vw;
}

.img-container {
  position: relative;
}

.img-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #bfbd4db8;
  border-radius: 20px 20px 20px 20px;
}

.img-container:hover .img-overlay {
  opacity: 1;
}

.img-text {
  color: white;
  font-size: 1.25vw;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.container {
  /* background-color: lightblue; */
  border-radius: 20px;
}

.showtimes {
  background-color: #9C8F08;
  border-radius: 20px;
}

/* Listings end */

/* Openings start */

#open {
  background-color: rgba(0, 0, 0, 0);
  text-align: center;
  color: white;
}

#open-table {
  color: white;
}

/* Openings end */

/* Contact start */
#potato{
  font-weight: 500;
}

.formGroup{
  padding-top: 10px;
  padding-bottom: 10px;
}

.alertOne{
  line-height: auto;
  font-size: 15px;
  color: palevioletred;

}

input[type=text] {
  padding: 10px;
  width: 90%;
  max-width: 700px;
  margin: auto;
  border: 2px solid rgb(59, 124, 124);
}

#subject{
  padding: 10px;
  width: 90%;
  max-width: 700px;
  margin: auto;
  border: 2px solid rgb(59, 124, 124);
  text-align: center;
}

#label{
  text-align: right;
}

#messageBox{
  padding: 10px;
  width: 90%;
  max-width: 800px;
  height: 150px;
  margin: auto;
  border: 2px solid rgb(59, 124, 124);
  text-align: center;
}

#infoButton{
  padding: 10px;
  width: 90%;
  max-width: 800px;
  background-color: #10809C;
  border: 2px solid rgb(255, 255, 255);
}

#infoButton:hover{
  background-color: orange;
}

#submitButton{
  padding: 10px;
  width: 90%;
  max-width: 800px;
  background-color: rgb(0, 255, 21);
  border: 2px solid rgb(255, 255, 255);
}

#submitButton:hover{
  background-color: orange;
}

#resetButton{
  padding: 10px;
  width: 90%;
  max-width: 400px;
  background-color: rgb(185, 3, 3);
  border: 2px solid rgb(255, 255, 255);
}

#resetButton:hover{
  background-color: rgba(255, 0, 0, 0.445);
}
/* Contact end */